main .card1 {
  padding: 40px;
  display: flex;
  /* width: 90%; */
  max-width: 1220px;
  margin: auto;
  font-size: 18px;
  /* justify-content: center; */
}

.imgCard1 img {
  margin-top: 30px;
  border-radius: 50%;
  border: 0;
  width: 12rem;
  height: 12rem;
}

.pCard1 p {
  padding: 40px;
  text-align: justify;
}

.links-cards {
  display: flex;
  flex-direction: column;
  gap: 6px;

  & a {
    text-align: center;
    cursor: pointer;

    & button {
      background: #fef9c3;
      border-radius: 50px;
      padding: 10px;
      cursor: pointer;
      width: 40em;
      border: none;
      font-size: 20px;
    }

    & button:hover {
      background: #d9f99d;
    }
  }
}
